html{
  font-size: 15px;
 background: url("./bg.jpg");
 background-size: cover;
}

body, html{
margin: 0;
padding: 0;

}

.keys{
display: flex;
flex: 1;
align-items: center;
justify-content: center;
min-height: 100vh;
}

.key{
  border: .4rem solid black;
  border-radius: .5rem;
  padding: 1rem .5rem;
  margin: .5rem;
  font-size: 2rem;
  width: 8rem;
  text-align: center;
  color:  #ffd9b3;
  background: rgba(8, 20, 20, 0.27);
  text-shadow: 0 0 1rem black;
  transition: all .07s ease;
}

kbd{
  display: block;
  font-size: 4rem;
}

.sound{
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #008080;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}